#trafficTop{
    background-color: black;
    width: 10px;
    height: 70px;
    margin-left: 86px;
}

#container {
    background-color: black;
    width: 63px;
    height: 178px;
    margin-left: 60px;
    padding: 7px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.light{
    width:  50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    padding: 4px;
    padding-bottom: 3px;
    cursor: pointer;
    &.red {background-color: #990000;}
    &.yellow {background-color: #CC6600;}
    &.green {background-color: #009933;}
    &.selectedRed {
        color: #fff;
        box-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px rgb(255, 21, 0),
            0 0 82px rgb(255, 38, 0),
            0 0 92px rgb(255, 60, 0),
            0 0 102px rgb(255, 34, 0),
            0 0 151px rgb(255, 72, 0);
        }

    &.selectedYellow {
        color: #fff;
        box-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px rgb(255, 238, 0),
            0 0 82px rgb(255, 238, 0),
            0 0 92px rgb(238, 255, 0),
            0 0 102px rgb(255, 242, 0),
            0 0 151px rgb(255, 247, 0);
        }

    &.selected {
        color: #fff;
        box-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,
            0 0 102px #0fa,
            0 0 151px #0fa;
        }
        
}